*{
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    
}
.container{
    width: 90%;
    margin: 0 auto;
}

/*****************************************************Header*************************************************************/
h1{
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    margin-top: 0;
    font-size: 20px;
}
header{
    background-color: #2D3945;
    height: 70px;
}